(
    axes: {
        "horizontal": Emulated(pos: Key(D), neg: Key(A)),
        "vertical": Emulated(pos: Key(W), neg: Key(A)),
    },
    actions: {
        "jump": [
            [Key(Space)],
        ],
    },
)